@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <h2>Error</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">¡Ups, algo salió mal!</h4>
                <p>Lo sentimos, se ha producido un error inesperado. Por favor, inténtalo de nuevo más tarde.</p>
                <hr>
                <p class="mb-0">Si el problema persiste, contacta con el soporte técnico.</p>
            </div>
        </div>
    </div>
</div>