@model LN_WEB.Entities.UsuarioEnt

@{
    ViewBag.Title = "RecuperarClave";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

@using (Html.BeginForm("RecuperarClave", "Home", FormMethod.Post))
{
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">

            <div class="card" style="background-color: #242424; ">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2 text-center">
                                    <div class="breadcrumb-text">
                                        <img src="~/images/logoNew.png" width="200" height="200" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.MsjPantalla != null)
                    {
                        <div style="text-align:center" class="alert alert-warning" role="alert">
                            @ViewBag.MsjPantalla
                        </div>
                    }

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.CorreoElectronico, new { @type = "email", @class = "form-control", @placeholder = "correo@correo.com" })
                        <label for="floatingInput">Correo Electrónico</label>
                    </div>

                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Recuperar Contraseña</button>
                    <p class="text-center mb-0">Si ya tiene una cuenta <a href="@Url.Action("Login","Home")">Inicie Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
}
