

@{
    ViewBag.Title = "Reportes";
}



<div class="row">

    @if (ViewBag.MsjPantalla != null)
    {
        <div style="text-align:center" class="alert alert-warning" role="alert">
            @ViewBag.MsjPantalla
        </div>
    }

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <h3 style="font-family: 'Lobster', cursive; color: #F28123; ">La Catrina</h3>
                <h2 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Reportes</h2>
            </div>
        </div>
    </div>
</div>
<br />
<section>
    <div class="report">
        <h3>Informe de Ventas</h3>
        <canvas id="salesChart"></canvas> <!-- Espacio para el gráfico -->
    </div>
    <!-- Repite este bloque para más informes -->
</section>
