
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p> EL VARON</p>
                <h2>Redes Sociales</h2>
            </div>
        </div>
    </div>
</div>



<div class="container">

    <br /><br />
    <div class="row">
        <div class="col-lg-4 col-md-6">
    <div class="single-team-item">
        <div class="team-bg team-bg-1" style="background-image: url('/images/inicio-redes/facebook.jpg'); background-size: cover; background-position: center;">
        </div>
        <h4 class="facebook-heading">FACEBOOK</h4>
        <ul class="social-link-team">
            <li><a href="#" target="_blank" style="font-size: 24px;"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
    </div>
</div>

        <div class="col-lg-4 col-md-6">
            <div class="single-team-item">
            <div class="team-bg team-bg-1" style="background-image: url('/images/inicio-redes/twitter.jpg'); background-size: cover; background-position: center;">
        </div>
                <h4 class="twitter-heading">TWITTER</h4>
                <ul class="social-link-team">
                <li><a href="#" target="_blank" style="font-size: 24px;"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-team-item">
                <div class="team-bg team-bg-1" style="background-image: url('/images/inicio-redes/instagram.jpg'); background-size: cover; background-position: center;">
        </div>
                <h4 class="instagram-heading">INSTAGRAM</h4>
                <ul class="social-link-team">
                <li><a href="#" target="_blank" style="font-size: 24px;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
